<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>web.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<display-name>HomePage</display-name>
  	<description></description>
  	<servlet-class>web.HomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description>Login page</description>
  	<servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserAdministration</servlet-name>
  	<display-name>UserAdministration</display-name>
  	<description></description>
  	<servlet-class>web.UserAdministration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDelete</servlet-name>
  	<display-name>UserDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.UserDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdate</servlet-name>
  	<display-name>UserUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.UserUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateAct</servlet-name>
  	<display-name>UserUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.UserUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>AttractionDelete</servlet-name>
  	<display-name>AttractionDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.AttractionDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttractionUpdate</servlet-name>
  	<display-name>AttractionUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.AttractionUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttractionUpdateAct</servlet-name>
  	<display-name>AttractionUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.AttractionUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>CityDelete</servlet-name>
  	<display-name>CityDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.CityDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityUpdate</servlet-name>
  	<display-name>CityUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.CityUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityUpdateAct</servlet-name>
  	<display-name>CityUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.CityUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>ContinentDelete</servlet-name>
  	<display-name>ContinentDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.ContinentDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContinentUpdate</servlet-name>
  	<display-name>ContinentUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.ContinentUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContinentUpdateAct</servlet-name>
  	<display-name>ContinentUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.ContinentUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>CountryDelete</servlet-name>
  	<display-name>CountryDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.CountryDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountryUpdate</servlet-name>
  	<display-name>CountryUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.CountryUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountryUpdateAct</servlet-name>
  	<display-name>CountryUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.CountryUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>CuisineDelete</servlet-name>
  	<display-name>CuisineDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.CuisineDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuisineUpdate</servlet-name>
  	<display-name>CuisineUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.CuisineUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuisineUpdateAct</servlet-name>
  	<display-name>CuisineUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.CuisineUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>HotelDelete</servlet-name>
  	<display-name>HotelDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.HotelDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HotelUpdate</servlet-name>
  	<display-name>HotelUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.HotelUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HotelUpdateAct</servlet-name>
  	<display-name>HotelUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.HotelUpdateAct</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>RestaurantDelete</servlet-name>
  	<display-name>RestaurantDelete</display-name>
  	<description></description>
  	<servlet-class>controllers.RestaurantDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RestaurantUpdate</servlet-name>
  	<display-name>RestaurantUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.RestaurantUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RestaurantUpdateAct</servlet-name>
  	<display-name>RestaurantUpdateAct</display-name>
  	<description></description>
  	<servlet-class>controllers.RestaurantUpdateAct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountryAdd</servlet-name>
  	<display-name>CountryAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.CountryAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttractionAdd</servlet-name>
  	<display-name>AttractionAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.AttractionAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityAdd</servlet-name>
  	<display-name>CityAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.CityAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HotelAdd</servlet-name>
  	<display-name>HotelAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.HotelAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RestaurantAdd</servlet-name>
  	<display-name>RestaurantAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.RestaurantAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuisineAdd</servlet-name>
  	<display-name>CuisineAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.CuisineAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Info</servlet-name>
  	<display-name>Info</display-name>
  	<description></description>
  	<servlet-class>controllers.Info</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Statistics</servlet-name>
  	<display-name>Statistics</display-name>
  	<description></description>
  	<servlet-class>web.Statistics</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserAdd</servlet-name>
  	<display-name>UserAdd</display-name>
  	<description></description>
  	<servlet-class>controllers.UserAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExportToPdf</servlet-name>
  	<display-name>ExportToPdf</display-name>
  	<description></description>
  	<servlet-class>controllers.ExportToPdf</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserAdministration</servlet-name>
  	<url-pattern>/UserAdministration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDelete</servlet-name>
  	<url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdate</servlet-name>
  	<url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateAct</servlet-name>
  	<url-pattern>/UserUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AttractionDelete</servlet-name>
  	<url-pattern>/AttractionDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttractionUpdate</servlet-name>
  	<url-pattern>/AttractionUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttractionUpdateAct</servlet-name>
  	<url-pattern>/AttractionUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CityDelete</servlet-name>
  	<url-pattern>/CityDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityUpdate</servlet-name>
  	<url-pattern>/CityUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityUpdateAct</servlet-name>
  	<url-pattern>/CityUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ContinentDelete</servlet-name>
  	<url-pattern>/ContinentDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContinentUpdate</servlet-name>
  	<url-pattern>/ContinentUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContinentUpdateAct</servlet-name>
  	<url-pattern>/ContinentUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CountryDelete</servlet-name>
  	<url-pattern>/CountryDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountryUpdate</servlet-name>
  	<url-pattern>/CountryUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountryUpdateAct</servlet-name>
  	<url-pattern>/CountryUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CuisineDelete</servlet-name>
  	<url-pattern>/CuisineDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuisineUpdate</servlet-name>
  	<url-pattern>/CuisineUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuisineUpdateAct</servlet-name>
  	<url-pattern>/CuisineUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>HotelDelete</servlet-name>
  	<url-pattern>/HotelDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HotelUpdate</servlet-name>
  	<url-pattern>/HotelUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HotelUpdateAct</servlet-name>
  	<url-pattern>/HotelUpdateAct</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>RestaurantDelete</servlet-name>
  	<url-pattern>/RestaurantDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RestaurantUpdate</servlet-name>
  	<url-pattern>/RestaurantUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RestaurantUpdateAct</servlet-name>
  	<url-pattern>/RestaurantUpdateAct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountryAdd</servlet-name>
  	<url-pattern>/CountryAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttractionAdd</servlet-name>
  	<url-pattern>/AttractionAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityAdd</servlet-name>
  	<url-pattern>/CityAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HotelAdd</servlet-name>
  	<url-pattern>/HotelAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RestaurantAdd</servlet-name>
  	<url-pattern>/RestaurantAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuisineAdd</servlet-name>
  	<url-pattern>/CuisineAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Info</servlet-name>
  	<url-pattern>/Info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Statistics</servlet-name>
  	<url-pattern>/Statistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserAdd</servlet-name>
  	<url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExportToPdf</servlet-name>
  	<url-pattern>/ExportToPdf</url-pattern>
  </servlet-mapping>

</web-app>
